<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mcal.MCPEDumper"
	android:versionCode="6"
	android:versionName="1.4">
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		
    <application android:label="@string/app_name"
		android:icon="@drawable/ic_launcher"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
			android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".SymbolsActivity"
			android:label="@string/symbolsActivity">
		</activity>
		<activity android:name=".ClassActivity"
			android:label="@string/classActivity">
		</activity>
		<activity android:name=".SymbolActivity"
			android:label="@string/symbolActivity">
		</activity>
		<activity android:name=".MenuActivity"
			android:label="@string/menuActivity">
		</activity>
		<activity android:name=".SearchActivity"
			android:label="@string/searchActivity">
		</activity>
		<activity android:name=".VtableActivity"
			android:label="@string/vtableActivity">
		</activity>
		<activity android:name=".NameDemanglerActivity"
			android:label="@string/nameDemangler">
		</activity>
    </application>
</manifest> 
